.square {
    height: 50px;
    width: 50px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    line-height: 50px;
    outline-style: solid;
    outline-width: 2px;
}

.row{
    display: grid;
    font-size: xx-large;
    grid-template-columns: repeat(5,60px);
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#dadada;
    color: #272727;
}

.main{
    margin-left: 20em;
}

#Error{
    outline-style: groove;
    width: fit-content;
}